body{
    padding: 0;
    margin: 0;
    background-color: #efefef;
}
.topNavBar{
    position: fixed;
    padding: 0;
    width: 100%;
    top: 0;
    left: 0;
}
.navBar{
    margin-top: 34px;
}
.navBar ul>li {
    float: right;
    font-size:12px;
    list-style: none;
    margin-right: 38px;
}
.navBar ul>li>a{
    color: #b7b7b7;
    border-bottom: 2px solid transparent;
}
.navBar ul>li>a:hover{
    border-bottom-color: #dc6465;
}
.logo{
    float: left;
}
.clearfix::after{
    content: '';
    display: block;
    clear: both;
  }
.RS{
    margin-left: 19px;
    margin-right: 9px;
    color: #e6686a;
    float: left;
    font-size: 22px;
}
.card{
    font-size: 22px;
    color: #9A9DA2;
}
a{
    text-decoration-line: none;
}
.banner{
    height: 515px;
    background-image: url(./rs-cover.jpg);
    background-position: center center;
    background-size: cover;
}
.banner .mask{
    background-color: rgba(0,0,0,0.8);
    height: 515px;
}
.userCard{
    
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
}
.userCard .text{
    float: left;
    width: 470px;
}
.userCard .picture{
    float: left;
    margin-right: 70px;
}
.userCard .picAndText{
    padding: 50px;
}
.userCard .welcome {
    background: #e6686a;
    color: white;
    display: inline-block;
    padding: 4px 16px;
    line-height: 22px;
    position: relative;
    margin-bottom: 10px;
  }
.userCard .welcome .triangle {
    display: block;
    border: 10px solid transparent;
    width: 0px;
    border-left-color: #e6686a;
    border-top-width: 0px;
    position: absolute;
    left: 4px;
    top: 100%;
  }
.userCard dl dt,
    .userCard dl dd{
    margin-bottom: 10px;
    float: left;
    padding: 5px 0;
    }
    .userCard dl dt{
    width: 30%;
    font-weight: bold;
    }
    .userCard dl dd{
    width: 50%;
    color: #9da0a7;
    }
.userCard > footer.media{
    text-align: center;
    background: #E6686A;
}
.userCard > footer.media > a {
    border-radius: 50%;
    padding: 5px 0;
    display: inline-block;
    width: 40px;
    height: 30px;
    padding: 5px,0;
    margin: 16px;
}
.userCard svg{  
    vertical-align: top;
    width: 30px;
    height: 30px;
    fill: white;
}
.userCard > footer.media > a:hover{
    background-color: #CF5D5F;
}